<%- include('../layout/head.ejs') %>
</head>

<body  data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky" style=""">
  <div class="wrapper">
  <%- include('../layout/sidebar.ejs') %>
  <div class="main">
    <%- include('../layout/navigation.ejs') %>
    <main class="content">
    <div class="container-fluid p-0">

      <h1 class="h3 mb-3"><%= fundRanking %></h1>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">说明</h5>
              <h6 class="card-subtitle text-muted">当前显示最近 1个月业绩的前 100 名.</h6>
            </div>
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">基金简称</th>
                    <th scope="col">基金代码</th>
                    <th scope="col">日期</th>
                    <th scope="col">单位净值</th>
                    <th scope="col">日增长率</th>
                    <th scope="col">最近1周</th>
                    <th scope="col">近1月</th>
                    <th scope="col">近3月</th>
                    <th scope="col">近6月</th>
                    <th scope="col">近1年</th>
                    <th scope="col">近2年</th>
                    <th scope="col">近3年</th>
                    <th scope="col">今年来</th>
                    <th scope="col">成立来</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (funds.length > 0) { %>
                    <% for (let fund of funds) { %>
                  <tr>
                    <th scope="row">1</th>
                    <td><%= fund.name %> </td>
                    <td><%= fund.code %></td>
                    <td><%= fund.lastUpdate %></td>
                    <td><%= fund.unitNetWorth %></td>
                    <td><%= fund.dayOfGrowth %>%</td>
                    <td><%= fund.recent1Week %>%</td>
                    <td><%= fund.recent1Month %>%</td>
                    <td><%= fund.recent3Month %>%</td>
                    <td><%= fund.recent6Month %>%</td>
                    <td><%= fund.recent1Year %>%</td>
                    <td><%= fund.recent2Year %>%</td>
                    <td><%= fund.recent3Year %>%</td>
                    <td><%= fund.fromThisYear %>%</td>
                    <td><%= fund.fromBuild %>%</td>
                  </tr>
                  <% } %>
                  <% } else { %>
                    <h1>暂时没有基金!</h1>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
    <%- include('../layout/footer.ejs') %>
  </div>