<% for(var i = 0; i < funds.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= funds[i].code %></td>
    <td><%= funds[i].name %></td>
    <td><%= funds[i].cost %></td>
    <td><%= funds[i].amount %></td>
    <td><%= funds[i].holdingIncome.total %></td>
    <td>
        <a href="/admin/myholds/update?code=<%= funds[i].code%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= funds[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>